*{
    margin: 0;
    padding: 0;
}


/* for the whole html page */
html{
  height: 700px;
  width: 60%;
  font-family: 'Lilita One', cursive;
  background-color: #a96e5b;
}

/* for the header */
header{
  display: flex;
  background-color:   #622569;
  height: 65px;
  position: fixed;
  width: 100%;
}

/* for the img */
.left{
  position: relative;
  left: 80px;
  top: 10px;
}

/* for nav HOME,AboutUs */
.middle{
  position: relative;
  left: 400px;
  top: 10px;
}

/* h1 ke karan hie word spacing mil hai gha */
.middle h1{
  word-spacing: 30px;
}

/* This is for the fontsize textdecoration */
.middle a{
  font-family: 'Lilita One', cursive;
  color: white;
  font-weight: 300;
  font-size: 30px;
  font-style: oblique;
  text-decoration: none;
}

/* hovering fir the link */
a:hover{
  color: blue;
}

/* Jabhi Tum link pai click kar ho ghe */
a:active{
  color: greenyellow;    

}

/* This Completes our navbar */

/* for the button */
.reservation{

  display: grid;
  grid-template-rows: repeat(4,50px);
  grid-gap: 50px;
  position: relative;
  top: 150px;
  left: 290px;
  justify-content: center;
  align-items: center;
}

/* This is for the flight */
.flightreservation{
  background: #3498db;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
  
.flightreservation:hover {
  background-color: #87db00;
  color: red;
  text-decoration: none;
  height: 60px;
}

/* This is for the flight */
.Crusereservation{
  background: #3498db;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
  
.Crusereservation:hover {
  background-color: #87db00;
  color: red;
  text-decoration: none;
  height: 60px;
}

/* This is for the flight */
.Hotelreservation{
  background: #3498db;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
  
.Hotelreservation:hover {
  background-color: #87db00;
  color: red;
  text-decoration: none;
  height: 60px;
}

/* This is for the Cruse */
.Vehiclereservation{
  background: #3498db;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lilita One', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
  
.Vehiclereservation:hover {
  background-color: #87db00;
  color: red;
  height: 60px;
  text-decoration: none;
}

/* for the footer */
/* This is for the footer part Last Energy Energy */
.footer{
  display: grid;
  grid-template-columns: repeat(3,minmax(200px,auto));
  width: 170%;
  position: relative;
  top: 300px;
  background-color:   #622569;
  font-family: 'Lilita One', cursive;
}
.footer-links a{
  color: white;
  text-decoration: none;

}
.footer-links a:hover{
  color: blue;
}



.footer h3, a, pre{
  color: white;
  font-size: 20px;
  font-style: oblique;
  text-decoration: none;
}
.footer-Travel-name{
  color: white;
}